* { box-sizing: border-box; }
.container { width: 100%; padding-left: 1em; padding-right: 1em;  }
.nav, .pokemon, #team { padding-top: 1em; }
.nav-group { overflow: auto; padding-bottom: 1em; }
.panel-group { margin-bottom: 0; }

.panel.col-sm-12, .panel.col-sm-3, .panel-group.col-sm-3, .panel.col-sm-2, .panel.col-sm-4 { 
    padding: 0; margin-bottom: 0;
}

.panel-heading.btn.glyphicon { font-size: 0.5em; }

.well { overflow: auto; }

.panel-default {
}
.panel-default>.panel-heading {
    background-color: lavender;
}

.panel-attack {
    border-color: #ffb7c4;
}
.panel-attack>.panel-heading {
    color: darkred;
    background-color: #ffb7c4;
    border-color: #ffb7c4;
}

.panel-defense {
    border-color: skyblue;
}
.panel-defense>.panel-heading {
    color: darkblue;
    background-color: skyblue;
    border-color: skyblue;
}

.panel-net {
    border-color: #97ea96;
}
.panel-net>.panel-heading {
    color: darkgreen;
    background-color: #97ea96;
    border-color: #97ea96;
}

.pull-right { margin-top: -0.25em; }

.typeicon { 
    display: inline-block; width: 66px; height: 19px; 
}
.normal { background:url('../img/types.png') 0px 0px no-repeat;  }
.fighting { background:url('../img/types.png') 0px -19px no-repeat;  }
.poison { background:url('../img/types.png') 0px -38px no-repeat;  }
.ground { background:url('../img/types.png') 0px -57px no-repeat;  }
.flying { background:url('../img/types.png') 0px -76px no-repeat;  }
.bug { background:url('../img/types.png') 0px -95px no-repeat;  }
.rock { background:url('../img/types.png') 0px -114px no-repeat;  }
.ghost { background:url('../img/types.png') 0px -133px no-repeat;  }
.steel { background:url('../img/types.png') 0px -152px no-repeat;  }
.fire { background:url('../img/types.png') -66px 0px no-repeat;  }
.water { background:url('../img/types.png') -66px -19px no-repeat;  }
.electric { background:url('../img/types.png') -66px -38px no-repeat;  }
.grass { background:url('../img/types.png') -66px -57px no-repeat;  }
.ice { background:url('../img/types.png') -66px -76px no-repeat;  }
.psychic { background:url('../img/types.png') -66px -95px no-repeat;  }
.dragon { background:url('../img/types.png') -66px -114px no-repeat;  }
.dark { background:url('../img/types.png') -66px -133px no-repeat;  }
.fairy { background:url('../img/types.png') -66px -152px no-repeat;  }