<div>
    <div class="modal-header">
        <button type="button" class="close pull-right" ng-click="$dismiss()" aria-hidden="true">×</button>
        <h4 class="modal-title">{{options.title}}</h4>
    </div>
    
    <div class="modal-body">
    
        <p ng-if="options.message">
            {{options.message}}
        </p>

        <form id="cgPromptForm" name="form.cgPromptForm" ng-if="options.inputs.length > 0" ng-submit="submit()">
            <div class="form-group" ng-class="{'has-error':cgPromptForm.$invalid && changed}">
                <div ng-repeat="option in options.inputs track by $index">
                    
                    <div ng-if="option.type=='text'" class="form-group">
                        <label for="{{'cgPromptInput'+$index}}">{{options.label}}</label>
                        <input id="{{'cgPromptInput'+$index}}" type="text" class="form-control {{option.classes}}" placeholder="{{option.label}}" ng-model="input[option.name]" ng-required="{{option.required}}" ng-change="changed=true" autofocus="autofocus">
                    </div>
                    
                    <div ng-if="option.type=='select'" class="form-group">
                        <label for="{{'cgPromptInput'+$index}}">Select:</label>
                        <select id="{{'cgPromptInput'+$index}}" class="form-control {{option.classes}}" ng-model="input[option.name]" ng-required="{{option.required}}" ng-change="changed=true">
                                <option ng-repeat="val in option.values" value="{{val}}">{{val}}</option>
                        </select>
                    </div>
                    
                    <div ng-if="option.type=='textarea'" class="form-group">
                        <label for="{{'cgPromptInput'+$index}}">{{options.label}}</label>
                        <textarea id="{{'cgPromptInput'+$index}}" type="text" class="form-control {{option.classes}}" placeholder="{{option.label}}" ng-model="input[option.name]" ng-required="{{option.required}}" ng-change="changed=true" autofocus="autofocus"></textarea>
                    </div>
                    
                </div>    
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button ng-repeat="button in options.buttons track by button.label" class="btn btn-default {{button.class}}" ng-class="{'btn-primary':button.primary}" ng-click="buttonClicked(button)">{{button.label}}</button>
    </div>
</div>