<! DOCTYPE html>
<html lang="en" ng-app="furgatTeamDigest">
<head>
    <meta charset="UTF-8">
    <title>Team Digest | Version 1.0.Absol </title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="js/teamgen.js"></script>
</head>
<body>
    <div ng-controller="teamdigest">
        <div id="team">
            <h1>TEAM:</h1>
            <div id="teamdata">
                <div class="pokemon" ng-repeat="member in team">
                    <p>
                        <button ng-click="removeMember($index)">X</button>
                        <button ng-click="addMove($index)">Add Move</button>
                    </p>
                    <p>
                        {{member.name}}, [ {{member.type[0]}}, {{member.type[1]}} ]
                    </p>
                    <p>
                        <ul>
                            <li ng-repeat="move in member.moves track by $index">
                                {{move.name}} : {{move.type}} :: {{move.damaging}}
                            </li>
                        </ul>
                    </p>
                    <div class="columned">
                        <h3>
                            Offensive Matchups:
                        </h3>
                        
                        <p>
                            Vulnerable:
                        </p>
                        <span>
                            <ul>
                                <li 
                                    ng-repeat="matchup in member.offensive_matchups track by $index" 
                                    ng-if="matchup >= 200"
                                >
                                    {{ '[' + typeName($index) + ' : ' + matchup + ']' }}
                                </li>
                            </ul>
                        </span>
                        
                        <p>
                            Neutral:
                        </p>
                        <span>
                            <ul>
                                <li 
                                    ng-repeat="matchup in member.offensive_matchups track by $index" 
                                    ng-if="100 <= matchup && matchup < 200"
                                >
                                    {{ '[' + typeName($index) + ' : ' + matchup + ']' }}
                                </li>
                            </ul>
                        </span>
                        
                        <p>
                            Reisisted:
                        </p>
                        <span>
                            <ul>
                                <li 
                                    ng-repeat="matchup in member.offensive_matchups track by $index" 
                                    ng-if="matchup < 100" 
                                >
                                    {{ '[' + typeName($index) + ' : ' + matchup + ']' }}
                                </li>
                            </ul>
                        </span>
                        
                        
                        <h3>Defensive Matchups:</h3>
                        
                        <p>Vulnerable:</p>
                        <span>
                            <ul>
                                <li 
                                    ng-repeat="matchup in member.defensive_matchups track by $index" 
                                    ng-if="matchup > 100"
                                >
                                    {{ '[' + typeName($index) + ' : ' + matchup + ']' }}
                                </li>
                            </ul>
                        </span>
                        
                        <p>Neutral:</p>
                        <span>
                            <ul> Neutral:
                                <li 
                                    ng-repeat="matchup in member.defensive_matchups track by $index" 
                                    ng-if="matchup == 100"
                                >
                                    {{ '[' + typeName($index) + ' : ' + matchup + ']' }}
                                </li>
                            </ul>
                        </span>
                        
                        <p>Resisted:</p>
                        <span>
                            <ul>
                                <li 
                                    ng-repeat="matchup in member.defensive_matchups track by $index" 
                                    ng-if="matchup < 100" 
                                >
                                    {{ '[' + typeName($index) + ' : ' + matchup + ']' }}
                                </li>
                            </ul>
                        </span>
                        
                        
                        <h3>Net Matchups:</h3>
                        <p>Easy Prey:</p>
                        <span>
                            <ul>
                                <li 
                                    ng-repeat="matchup in member.net_matchups track by $index" 
                                    ng-if="matchup >= 200"
                                >
                                    {{ '[' + typeName($index) + ' : ' + matchup + ']' }}
                                </li>
                            </ul>
                            </span>
                        
                        <p>Advantageous:</p>
                        <span>
                            <ul>
                                <li 
                                    ng-repeat="matchup in member.net_matchups track by $index" 
                                    ng-if="100<= matchup && matchup < 200"
                                >
                                    {{ '[' + typeName($index) + ' : ' + matchup + ']' }}
                                </li>
                            </ul>
                        </span>
                        
                        <p>Evenly Matched:</p>
                        <span>
                            <ul>
                                <li 
                                    ng-repeat="matchup in member.net_matchups track by $index" 
                                    ng-if="0 <= matchup && matchup < 100" 
                                >
                                    {{ '[' + typeName($index) + ' : ' + matchup + ']' }}
                                </li>
                            </ul>
                        </span>
                        
                        <p>Reconsider:</p>
                        <span>
                            <ul>
                                <li 
                                    ng-repeat="matchup in member.net_matchups track by $index" 
                                    ng-if="-100 <= matchup && matchup < 0"
                                >
                                    {{ '[' + typeName($index) + ' : ' + matchup + ']' }}
                                </li>
                            </ul>
                        </span>
                        
                        <p>ABORT MISSION:</p>
                        <span>
                            <ul>
                                <li 
                                    ng-repeat="matchup in member.net_matchups track by $index" 
                                    ng-if="matchup < -100" 
                                >
                                    {{ '[' + typeName($index) + ' : ' + matchup + ']' }}
                                </li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="prospects">
            <h1>SCRATCHBOARD:</h1>
            <div id="data">
                <h2>SEARCH:</h2>
                <div id="form">
                    <input type="text" ng-keyup="typeEnter()" ng-model="searchtype">
                    <input type="button" value="GO" ng-click="dexRequest()">
                    <div ng-bind="status"></div>
                </div>
                <div id="data">
                    <p class="datamon" ng-repeat="mon in pokebase">
                        <input type="button" data="{{ mon.pokemon.name }}" value="{{ mon.pokemon.name }}" ng-click="addMon($event)">
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>