html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

a.active {
  background-color: gray;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.nav-container {
  background-color: #555;
}

img { width: 100%; border-top: 1px solid #333; border-bottom: 1px solid #333; }
